@page "/ordencompra"

<a type="button" class="rz-border-radius-4 shadow border border-4 btn-lg btn btn-warning" data-toggle="tooltip"
    data-placement="right" title="Regresar al inventario" href="inventario"> <i class="oi oi-arrow-circle-left" /></a>
<br/>
<p/>

<p/>
<p/>
<hr>
<h1>EN PROCESO ....</h1>
<hr>